= bootstrap_alert(context: :success) do
  %strong Well Done!
  You successfully read this important alert message.

= bootstrap_alert(context: :info) do
  %strong Heads up!
  This alert needs your attention, but it's not super important.

= bootstrap_alert(context: :warning) do
  %strong Warning!
  Better check yourself, you're not looking too good.

= bootstrap_alert(context: :danger) do
  %strong Oh snap!
  Change a few things up and try submitting again.

%h3 Dismissing

= bootstrap_alert(context: :warning, dismissible: true) do
  %strong Warning!
  Better check yourself, you're not looking too good.