.row
  = bootstrap_thumbnail(image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=179x148&w=179&h=148" })
  = bootstrap_thumbnail(image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=179x148&w=179&h=148" })
  = bootstrap_thumbnail(image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=179x148&w=179&h=148" })
  = bootstrap_thumbnail(image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=179x148&w=179&h=148" })

%h3 Custom content

.row
  = bootstrap_thumbnail(container_classes: "col-sm-6 col-md-4", image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=250x200&w=250&h=200" }) do
    %h3 Thumbnail label
    %p
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    %p
      %a.btn.btn-primary{:href => "#", :role => "button"} Button
      %a.btn.btn-default{:href => "#", :role => "button"} Button

  = bootstrap_thumbnail(container_classes: "col-sm-6 col-md-4", image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=250x200&w=250&h=200" }) do
    %h3 Thumbnail label
    %p
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    %p
      %a.btn.btn-primary{:href => "#", :role => "button"} Button
      %a.btn.btn-default{:href => "#", :role => "button"} Button

  = bootstrap_thumbnail(container_classes: "col-sm-6 col-md-4", image_options: { src: "https://placeholdit.imgix.net/~text?txtsize=33&txt=250x200&w=250&h=200" }) do
    %h3 Thumbnail label
    %p
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    %p
      %a.btn.btn-primary{:href => "#", :role => "button"} Button
      %a.btn.btn-default{:href => "#", :role => "button"} Button