.carousel.slide{ carousel_options, id: carousel_id }
  %ol.carousel-indicators
    - items.each_with_index do |item, index|
      - if index == 0
        %li.active{"data-slide-to" => index.to_s, "data-target" => "##{carousel_id}" }
      - else
        %li{"data-slide-to" => index.to_s, "data-target" => "##{carousel_id}" }
  .carousel-inner
    - items.each_with_index do |item, index|
      - item.merge!(active: true) if index == 0
      = bootstrap_carousel_item(item)
  %a.carousel-control-prev{"data-slide" => "prev", :href => "##{carousel_id}" , :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "##{carousel_id}" , :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next
- if autostart
  :javascript
    $('##{carousel_id}').carousel(
      {
        interval: #{carousel_options['data-interval']}
      }
    );